<h2>Movies</h2>
<select class='categories' (change)='filterMovies($event.target.value)'>
  <option selected>
    ANY
  </option>
  <option *ngFor='let category of categories'>
    {{category}}
  </option>
</select>
<ul class='movies'>
  <li *ngFor='let movie of moviesList' (click)=selectMovie(movie) [class.selected]="movie === selectedMovie">
      <span class='badge '>{{movie.id}}</span> 
      <span class='content'>{{movie.title}}</span> 
      <span class='buy'>
        {{movie.price}}PLN
        <mat-icon id='add-movie' (click)='addToCart(movie)'>shopping_cart</mat-icon>
      </span>
      <hr *ngIf='movie === selectedMovie'/>
      <div class="details" *ngIf='movie === selectedMovie'>
        <div>( {{movie.year}} ) {{movie.category}} director: {{movie.director}} cast: {{movie.cast}}</div>
        <div>{{movie.story}}</div>
      </div>
      
  </li>
</ul>